.main-block {
    background-image: url('../storage/images/backgrounds/main-bg.jpg');
    background-size: cover;
    color: #bfa57c;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

.overflow-hidden { overflow: hidden; }



/*
 * ODOMETER
 */
.roller {
    width: 350px;
}

.js-bounty {
    background-image: url(../storage/images/backgrounds/kryptex-350.png);
    background-size: cover;
    height: 130px;
    font-size: 23px;
    letter-spacing: 1.0rem;
    fill: #341a05;
    color: #341a05;
}

.js-bounty .default-number {
    padding-left: 25px;
    padding-top: 44px;
    display: block;
}

.js-bounty svg {
    margin-left: 5px;
    margin-top: 48px;
}


@media (min-width: 576px) {

    .roller {
        width: 550px;
    }
    .js-bounty {
        background-image: url('../storage/images/backgrounds/kryptex-550.png');
        height: 190px;
        font-size: 44px;
        letter-spacing: 1.29rem;
    }
    .js-bounty svg {
        margin-left: 10px;
        margin-top: 70px;
    }

    .js-bounty .default-number {
        padding-left: 32px;
        padding-top: 60px;
        display: block;
    }
}

@media (min-width: 768px) {
    .roller {
        width: 700px;
    }
    .js-bounty {
        background-image: url('../storage/images/backgrounds/kryptex-750.png');
        height: 260px;
        font-size: 62px;
        letter-spacing: 1.49rem;
    }
    .js-bounty svg {
        margin-left: 14px;
        margin-top: 86px;
    }

    .js-bounty .default-number {
        padding-left: 40px;
        padding-top: 72px;
        display: block;
    }

    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

@media (min-width: 992px) {
    .roller {
        width: 900px;
    }

    .js-bounty {
        background-image: url('../storage/images/backgrounds/kryptex-950.png');
        height: 330px;
        font-size: 75px;
        letter-spacing: 2.07rem;
    }

    .js-bounty svg {
        margin-left: 17px;
        margin-top: 113px;
    }

    .js-bounty .default-number {
        padding-left: 51px;
        padding-top: 96px;
        display: block;
    }
}

@media (min-width: 12000px) {
    .roller {
        width: 1100px;
    }

    .js-bounty {
        background-image: url('../storage/images/backgrounds/kryptex-1100.png');
        height: 330px;
        font-size: 75px;
        letter-spacing: 2.07rem;
    }

    .js-bounty svg {
        margin-left: 17px;
        margin-top: 113px;
    }

    .js-bounty .default-number {
        padding-left: 51px;
        padding-top: 96px;
        display: block;
    }
}
